body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}





.container {
    display: flex;
    flex-wrap: wrap;
    width: 640px;
    height: 640px;
    background-color: black;
    border: solid 5px grey;
    
   
}


 
    /* STOP ADDING FUCKING TOO MANY FLEX CONTAINERS DIPSHIT */



.filling {
    
    
   box-sizing: border-box;
  
  background-color: #fff;

    

}