body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    max-height: 960px;
    background-color: black;
    border: solid 5px grey;
    
   
}

 
    /* STOP ADDING FUCKING TOO MANY FLEX CONTAINERS DIPSHIT */



.filling {
    
    
    background-color: white;
    width: 20px;
    height: 20px;
    flex: auto;

    

}